<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>myblog</display-name>
	<welcome-file-list>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.jap</welcome-file>
	</welcome-file-list>
<!-- 我的全局定义 -->
	<servlet>
		<servlet-name>globalConfigServlet</servlet-name>
		<servlet-class>org.luyanfeng.myblog.configuration.GlobalConfigServlet</servlet-class>
		<init-param>
			<param-name>website</param-name>
			<param-value>芦艳峰的博客</param-value>
		</init-param>
		<init-param>
			<param-name>webinfo</param-name>
			<param-value>-----空气生气了</param-value>
		</init-param>
		<init-param>
			<param-name>path</param-name>
			<param-value>http://localhost:8888/myblog</param-value>
		</init-param>
		<init-param>
			<description>万能密码：可以登录博客，客户账号等。有值时启用！(用户名为root)</description>
			<param-name>pass</param-name>
			<param-value>luyanfeng</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
<!-- 我的filter -->
	
<!-- hibernate4 session -->
	<!-- <filter>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <filter-class>org.springframework.orm.hibernate4.support.OpenSessionInViewFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OpenSessionInViewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->
<!-- struts2  -->
	<filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 <!-- spring -->
	<listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
</web-app>